<div class="header">
  <mat-card>
    <mat-card-content>
      <div class="nav_bar" fxLayout="row wrap" fxLayoutAlign="center center">
        <div class="menu" fxLayout="row wrap" fxLayoutAlign="start center" style="flex-grow: 1;">
          <a mat-flat-button href="/pages/dashboard">Danh sách tham gia bảo hiểm</a >
          <a mat-flat-button href="/pages/calculator">Tính bảo hiểm</a >
          <button mat-flat-button>Đóng bảo hiểm</button >
        </div>
        <div class="logo" fxLayoutAlign="center center">BHYT</div>
        <div class="infor" fxLayout="row wrap" fxLayoutAlign="end center" style="flex-grow: 3;">
          <button mat-flat-button>Name</button >
          <button mat-flat-button>Logout</button >
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
