<div class="header">
  <mat-card>
    <mat-card-content>
      <div class="nav_bar" fxLayout="row wrap" fxLayoutAlign="center center">
        <div class="menu" fxLayout="row wrap" fxLayoutAlign="start center" style="flex-grow: 1;">
          <button mat-flat-button (click)="changeRoute('/pages/dashboard')">Danh sách tham gia bảo hiểm</button>
          <button mat-flat-button (click)="changeRoute('/pages/calculator')">Tính bảo hiểm</button >
          <button mat-flat-button (click)="alert()">Đóng bảo hiểm</button >
        </div>
        <div class="logo" fxLayoutAlign="center center">BHYT</div>
        <div class="infor" fxLayout="row wrap" fxLayoutAlign="end center" style="flex-grow: 3;">
          <button mat-flat-button (click)="alert()">Hồ sơ</button >
          <button mat-flat-button (click)="logout()">Đăng xuất</button >
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
