::ng-deep .text_align_center {

  text-align: center;
}

::ng-deep .text_align_start {
  text-align: start !important;
}

::ng-deep .width_100_percent {

  width: 100%;
}

::ng-deep .width_90_percent {

  width: 90%;
}

::ng-deep .text_decoration_none {

  text-decoration: none;
}

::ng-deep .padding_bottom_20 {

  padding-bottom: 20px;
}

::ng-deep .padding_bottom_40 {

  padding-bottom: 40px !important;
}

::ng-deep .color_link {

  color: #3b78e7;
}

::ng-deep .cursor_pointer {
  cursor: pointer;
}

::ng-deep .margin_center {
  margin-left: auto;
  margin-right: auto;
}

::ng-deep .float_right {
  float: right;
}

::ng-deep .margin_top_20 {
  margin-top: 20px;
}

::ng-deep .padding_right_40 {
  padding-right: 40px;
}
